body {
  font-family: "Muli", sans-serif;
}

.weather-app {
  margin: 28px auto;
  display: block;
  padding: 12px;
  border: 1px solid gray;
  border-style: dotted;
  border-radius: 4px;
  background-image: linear-gradient(
    -225deg,
    #2cd8d5 0%,
    #c5c1ff 56%,
    #ffbac3 100%
  );
}

form {
  display: block;
}

.btn-group {
  display: block;
  position: relative;
  padding: 8px;
}

h1 {
  font-size: 32px;
  font-weight: 900;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 14px;
  text-align: center;
}

p {
  font-size: 14px;
  text-align: center;
}

p::first-letter {
  text-transform: capitalize;
}

ul {
  margin: 0;
  padding: 0;
}

.weather-conditions {
  position: relative;
  top: 100px;
  font-size: 14px;
  text-align: center;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

li::first-letter {
  text-transform: capitalize;
}

.weather-description {
  text-align: center;
}

.weather-description img {
  display: block;
  margin-top: 70px;
  height: 100px;
  width: 100px;
}

.weather-forecast {
  padding: 15px 0 0 0;
}

.weather-forecast img {
  display: block;
  margin-top: 10px;
  height: 50px;
  width: 50px;
}

.sunny {
  display: block;
  color: black;
  font-size: 70px;
}

.units {
  font-size: 12px;
  position: relative;
  top: -22px;
}

.units .active {
  color: black;
  cursor: default;
}

.units .active:hover {
  text-decoration: none;
}

.cloudy {
  font-size: 25px;
}
